* {
  padding: 0px;
  margin: 0px;
}
body {
  background: rgb(65, 64, 64);
}
div {
  opacity: .7
}
#contenedor {
    margin-top: 100px;
    width: auto;
    border: 3px solid green;
    padding: 10px;
    clear: both;
    display: table;
  }
  .cuadrado {
    margin: 10px;
    margin-left: 50px;
    width: 100px; 
    height: 100px; 
    background: #1aa73d;
    float: left;
    padding: 5px;
  }
  .circulo {
    margin: 10px;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #5cb85c;
    background: #116ec5;
    float: left;
    padding: 5px;
  }
  .triangulo {
    width: 50px;
    height: 0px;
    border-top: 55px solid transparent;
    border-left: 110px solid #3c175a;
    border-bottom: 55px solid transparent;
    justify-content: space-between;
  }

  .circulo {
    animation-name: slide-right;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }
  
  @keyframes slide-right {
  
    from {
      margin-left: 0px;
      opacity: 1;
    }
  
    25% {
      margin-left: 110px;
      opacity: 1;
    }
    25% {
      margin-left: 110px;
      opacity: 0.3;
    }
  
    to {
      margin-left: 200px;
      opacity: 0.0;
    }
  
  }